<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/registerForm" method="post">
        <div>
            <label>Email:</label>
            <input type="string" name="email"><br><br>
            <label>Password:</label>
            <input type="string" name="password"><br><br>
            <label>Type</label>
			<select name="type">
				<option default selected>--Select Role--</option>
                <option value="Admin">Admin</option>
                <option value="Reader">Reader</option>
			</select>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>